<div class="p-2">
  <div class="modal">
    <div class="header">
      <div class="modal-header">
        <i [class]="'la la-camera-retro'" class="text-[27px] flex justify-center text-primary dark:text-dark-primary dark:text-dark-primary"></i>
        <span class="flex-center text-lg font-semibold text-text dark:text-cyan-50 ">
         Detecção
        </span>
      </div>
      <div class="modal-close">
        <tvc-button icon="close" color="link" class="opacity-50" (click)="fecharModal()" />
      </div>
    </div>
    <div class="main">
          <mat-tab-group>
            <mat-tab class="h-full" label="Evento">
              <app-evento-content-modal class="h-full" [deteccao]="deteccao"/>
            </mat-tab>
            <mat-tab label="Mais detalhes" class="h-full">
              <app-mais-detalhes-content-modal class="h-full" [deteccao]="deteccao"/>
            </mat-tab>
            <mat-tab label="Observações">
              <app-timeline-movimentacao-deteccao [cdDeteccao]="this.deteccao.cdDeteccao"></app-timeline-movimentacao-deteccao>
            </mat-tab>
          </mat-tab-group>
    </div>
  </div>
</div>
