<form [formGroup]="formGroup" class="form h-full flex flex-col justify-between gap-3">
  <div class="form-group">
    <tvc-input class="w-full" id="nmInstituicao" formControlName="nmInstituicao" label="Nome da Instituição"
      placeholder="Nome da Instituição" inputNormalize="alfanum" required [maxlength]="40" [minlength]="3" />
    <tvc-input class="w-full" id="idInstituicao" formControlName="idInstituicao" label="Id da Instituição"
      placeholder="Id da Instituição" inputNormalize="alfanum" required [maxlength]="40" [minlength]="3" />
    <tvc-textarea class="w-full max-h-28" id="txtObservacao" formControlName="txtObservacao" label="Observação"
      placeholder="Observação" />
    <tvc-dropdown *ngIf="!isEditable" class="w-full" id="cdCidade" formControlName="cdCidade" useLabel="nmCidade"
      useValue="cdCidade" label="Cidade" placeholder="Cidade" required [providers]="cidades" />
  </div>

  <div class="w-full flex justify-end gap-2">
    <button *ngIf="instituicao && !isEditable && instituicao.lgAtivo" (click)="toggleEdit()" mat-flat-button
      class="bg-accent/10 text-primary disabled:cursor-not-allowed disabled:text-accent/50">
      <i [class]="icon" class="text-lg"></i>
      <span class="pt-1">
        Editar
      </span>
    </button>

    <button *ngIf="(isEditable && instituicao)" (click)="confirmarDesativacaoDeInstituicao(instituicao)"
      [disabled]="!formGroup.valid" mat-flat-button class="bg-red-700/10 text-red-700 disabled:cursor-not-allowed">
      <i [class]="iconClose" class="text-lg"></i>
      <span class="pt-1">
        Desativar
      </span>
    </button>

    <button *ngIf="(isEditable && instituicao) || (!instituicao)" (click)="onSubmit()" [disabled]="!formGroup.valid"
      mat-flat-button
      class="bg-primary/10 text-primary disabled:cursor-not-allowed disabled:bg-gray-100 disabled:text-primary/50">
      <i [class]="icon" class="text-lg"></i>
      <span class="pt-1">
        Salvar
      </span>
    </button>
  </div>
</form>