  <div class="flex flex-col gap-4 mt-4 h-full">
    <app-card-details class="h-full" titulo="Detecção" icone="la la-camera-retro">
      <div class="h-full w-full flex-col flex text-primary text-sm">
        <span class="flex items-start gap-1">
          <i [class]="'la la-star-half-alt'" class="mt-[2px]"></i>
          <span>
            <strong>
              Nível:
            </strong>
            <span [style.background-color]="getColorByNivel(dadosAlerta()?.tipoAlerta.tpNivelAlerta)"
              style="display: inline-block; width: 10px; height: 10px; border-radius: 50%;">
            </span>
            {{dadosAlerta()?.tipoAlerta.nmTipoAlerta ? dadosAlerta()?.tipoAlerta.nmTipoAlerta: 'N/A'}}
          </span>
        </span>

        <app-info-line class="h-full" [descricao]="(deteccao.dtDeteccao | date:'dd/MM/yyy HH:mm:ss') || 'N/A'" [icone]="'la la-calendar'"
          titulo="Data"></app-info-line>
        <app-info-line titulo="Equipamento" icone="la la-camera-retro" [descricao]="deteccao.idEquipamento" />
      </div>
    </app-card-details>
    <app-card-details class="h-full" titulo="Veículo" icone="la la-car-alt">
      <div class="h-full w-full grid grid-cols-2 text-primary text-sm">
        <app-info-line titulo="Placa" icone="la la-tag" [descricao]="deteccao?.nrPlaca ? deteccao?.nrPlaca : 'N/A'" />
        <app-info-line titulo="Modelo" icone="la la-truck-pickup" [descricao]="dadosAlerta()?.veiculo.nmModelo" />
        <app-info-line titulo="Marca" icone="la la-plus-square" [descricao]="dadosAlerta()?.veiculo.nmMarca" />
        <app-info-line titulo="Cor" icone="la la-brush" [descricao]="dadosAlerta()?.veiculo.nmCor" />
        <app-info-line titulo="Ano" icone="la la-sort-numeric-up-alt" [descricao]="dadosAlerta()?.veiculo.nrAno && dadosAlerta()?.veiculo.nrAno.toString()" />
        <app-info-line [descricao]="dadosAlerta()?.veiculo.nrChassi" [icone]="'la la-x-ray'" titulo="Chassi"></app-info-line>
        <app-info-line [descricao]="dadosAlerta()?.veiculo.nrRenavam" [icone]="'la la-file-contract'" titulo="Renavam"></app-info-line>
        <app-info-line [descricao]="dadosAlerta()?.veiculo.endereco.dsLogradouro" [icone]="'la la-map-marked'" titulo="Logradouro" [truncate]="25"></app-info-line>
        <app-info-line [descricao]="dadosAlerta()?.veiculo.endereco.nrEndereco" [icone]="'la la-map-marked'" titulo="Número do Endereço"></app-info-line>
        <app-info-line [descricao]="dadosAlerta()?.veiculo.endereco.dsComplemento" [icone]="'la la-map-marked'" titulo="Complemento" [truncate]="22"></app-info-line>
        <app-info-line [descricao]="dadosAlerta()?.veiculo.endereco.nmBairro" [icone]="'la la-map-marked'" titulo="Bairro" [truncate]="25"></app-info-line>
        <app-info-line [descricao]="dadosAlerta()?.veiculo.endereco.nmCidade" [icone]="'la la-city'" titulo="Cidade"></app-info-line>
        <app-info-line [descricao]="dadosAlerta()?.veiculo.endereco.nmEstado" [icone]="'la la-map-marked'" titulo="Estado"></app-info-line>
      </div>
    </app-card-details>
    <app-card-details class="h-full" titulo="Proprietário" icone="la la-user-tag">
      <div class="grid grid-cols-1 text-primary text-sm">
        <app-info-line [descricao]="dadosAlerta()?.veiculo.proprietarios[0].nmProprietario"
          [icone]="'la la-id-card-alt'" titulo="Nome"></app-info-line>
        <app-info-line [descricao]="dadosAlerta()?.veiculo.proprietarios[0].nrDocumento"
          [icone]="'la la-id-card'" titulo="Documento"></app-info-line>
      </div>
    </app-card-details>
  </div>