<div class="w-[240px] md:w-[300px] relative ">
  <div class="header-group-filter" [class.header-overlay-opening]="isOpenBox"
    [class.header-overlay-closing]="!isOpenBox">
    <div class="search-container flex flex-row">
      <mat-icon class="text-primary dark:text-cyan-50">
        search
      </mat-icon>
        <input [maxlength]="maxLeght" [minlength]="minLenght" [placeholder]="placeholder" class="search-input"
          [(ngModel)]="searchTerm"
          (keyup)="onKeyUp($event)">
    </div>
    @if(openFilters){
    <button (click)="toggleFilters()">
      <i [class]="'las la-filter icon '" class="dark:text-cyan-50"></i>
    </button>
    }
  </div>
  <div class="filters-overlay" [class.filters-overlay-opening]="isOpenBox"
    [class.filters-overlay-closing]="!isOpenBox && showFiltersOverlay" [formGroup]="formGroup"
    *ngIf="showFiltersOverlay">
    <div class="filters-content">
      <ng-content></ng-content>
    </div>
  </div>
</div>
