<form [formGroup]="formGroup" class="form h-full flex flex-col justify-between gap-3">
  <div class="form-group">
    <tvc-input class="w-full" id="nmListaAlerta" formControlName="nmListaAlerta" label="Nome da Lista de Alerta"
      placeholder="Nome da Lista de Alerta" inputNormalize="alfanum" required [maxlength]="40" [minlength]="3" />

    <tvc-dropdown class="w-full" id="idInstituicao" formControlName="idInstituicao" useLabel="nmInstituicao"
    useValue="idInstituicao" label="Instituição" placeholder="Instituição" [providers]="instituicoes"
    />

    <tvc-textarea class="w-full max-h-28" id="dsListaAlerta" formControlName="dsListaAlerta" label="Descrição"
      placeholder="Descrição" />
  </div>

  <div class="w-full flex justify-end gap-2">
    <button *ngIf="listaAlerta && !isEditable" (click)="toggleEdit()" mat-flat-button
      class="bg-accent/10 text-primary disabled:cursor-not-allowed disabled:text-accent/50">
      <i [class]="icon" class="text-lg"></i>
      <span class="pt-1">
        Editar
      </span>
    </button>

    <button *ngIf="(isEditable && listaAlerta)" (click)="confirmarDesativacaoDeListaAlerta(listaAlerta)"
      [disabled]="!formGroup.valid" mat-flat-button class="bg-red-700/10 text-red-700 disabled:cursor-not-allowed">
      <i [class]="iconClose" class="text-lg"></i>
      <span class="pt-1">
        Desativar
      </span>
    </button>

    <button *ngIf="(isEditable && listaAlerta) || (!listaAlerta)" (click)="onSubmit()" [disabled]="!formGroup.valid"
      mat-flat-button
      class="bg-primary/10 text-primary disabled:cursor-not-allowed disabled:bg-gray-100 disabled:text-primary/50">
      <i [class]="icon" class="text-lg"></i>
      <span class="pt-1">
        Salvar
      </span>
    </button>
  </div>
</form>