<div class="page h-full flex flex-col gap-2">
  <div class="w-full flex flex-row justify-end">
    <div class="flex-center gap-3">
      <app-filters-inputs [formGroup]="formGroup" searchField="nmInstituicao" placeholder="Pesquisar lista"
        (search)="onSearch()">
        <app-filter-lista-alerta [formGroup]="formGroup" [table]="table()" />
      </app-filters-inputs>
      <button mat-flat-button (click)="cadastrar()" class="button-actions">
        <i [class]="icon" class="text-lg"></i>
        <label class="md:flex hidden dark:text-cyan-50">
          Cadastrar Lista de Alertas
        </label>
      </button>
    </div>
  </div>
  <app-table-lista-alertas class="overflow-x-auto overflow-y-hidden"></app-table-lista-alertas>
</div>
