<div class="page h-full flex flex-col gap-2">
  <div class="w-full flex flex-row justify-end">
    <div class="flex-center gap-3">
      <app-filters-inputs [formGroup]="formGroup" searchField="nrPlaca" placeholder="Pesquisar Placa"
        (search)="onSearch()">
        <app-filter-veiculo-cco [formGroup]="formGroup" [table]="table()" />
      </app-filters-inputs>
      <button mat-flat-button (click)="cadastrar()" class="button-actions">
        <i [class]="icon" class="text-lg"></i>
        <label class="md:flex hidden dark:text-cyan-50">
          Cadastrar Veículo
        </label>
      </button>
    </div>
  </div>
  <app-table-veiculos-cco [formGroup]="formGroup" class="overflow-x-auto overflow-y-hidden"></app-table-veiculos-cco>
</div>
