.table {
  @apply p-4 w-full ;
}

.mat-mdc-cell {
  height: 20px;
}

.mat-form-field {
  margin-bottom: 16px;
}

.chip-success {
  @apply flex-center justify-center bg-green-100  text-green-700 p-0 w-[90px] #{!important}
}

.chip-danger {
  @apply flex-center justify-center bg-red-100 text-red-700 p-0 w-[90px] #{!important}
}

.content-success {
  @apply text-green-500 #{!important}
}

.content-danger {
  @apply text-red-500 #{!important}
}

// .row-container {
//   @apply flex-col flex w-full;
// }

.table-container {
  @apply h-full flex flex-col;

  .mat-mdc-table {
    max-height: calc(100vh - 200px);

    thead {
      position: sticky;
      top: 0;
      z-index: 1;
      background: white;
    }
  }

  .mat-mdc-paginator {
    position: sticky;
    bottom: 0;
    z-index: 1;
    background: white;
  }
}
