:host ::ng-deep {
    @apply w-[950px] md:w-[950px] sm:w-[850px] rounded-lg;

    .modal-container {
        @apply min-h-[500px] h-auto flex flex-col bg-white p-0 dark:bg-dark-container rounded-b-[4px] w-full;
    }

    .button {
        @apply w-5 flex justify-center items-center text-white h-5 cursor-pointer rounded-md;
    }

    .export-button-wrapper {
        @apply relative;
    }

    .badge {
        @apply opacity-55;
    }

    .dropdown {
        @apply absolute top-full right-0 mt-2 w-[110px] bg-white dark:bg-dark-container rounded-md z-10 overflow-hidden;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        z-index: 1000;
    }

    .dropdown-filter {
        @apply absolute top-full right-0 pt-2 mt-2 w-[20em] bg-white dark:bg-dark-container rounded-md overflow-hidden max-h-[400px] overflow-y-auto;
        z-index: 500;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    }

    .drop-option {
        @apply block w-full text-left px-4 py-2 hover:bg-gray-100 font-semibold;
        z-index: 1000;
    }

    .page-header-content {
        @apply bg-white dark:bg-dark-container rounded-t-lg p-4 flex justify-between;
    }

    .skeleton-container {
        @apply flex items-center justify-center bg-gray-300 animate-pulse dark:bg-gray-700 w-[900px] sm:w-[700px];
        height: 600px;
    }

    .icon {
        @apply text-accent text-[80px] leading-[80px] h-[80px] w-[80px] #{!important};
    }

}