.mat-mdc-table {
  @apply rounded-lg shadow-sm h-full overflow-auto #{!important};
}
.mat-mdc-header-cell {
  border-bottom-color: transparent !important;
  @apply bg-gray-50 dark:bg-dark-body text-text text-xs font-bold #{!important};
}

.mdc-data-table__cell {
  @apply dark:text-cyan-50 #{!important}
}
.mat-mdc-row {
  @apply  dark:text-cyan-50 font-medium text-[13px] #{!important};
}

.mat-mdc-row{
  @apply hover:bg-slate-50 dark:text-cyan-50 #{!important}
}

.mat-mdc-cell {
  border-bottom-color: transparent !important;
  border-bottom-width: 0;
  border-bottom-style: solid;
}