.mat-mdc-table {
  @apply rounded-lg shadow-sm h-full;
}
.mat-mdc-header-cell {
  border-bottom-color: transparent !important;
  @apply bg-gray-50 text-text text-xs font-bold #{!important};
}
.mat-mdc-row {
  @apply text-text font-medium text-[13px]  #{!important};
}
.mat-mdc-row{
  @apply hover:bg-slate-50 #{!important}
}

.mat-mdc-cell {
  border-bottom-color: transparent !important;
  border-bottom-width: 0;
  border-bottom-style: solid;
}