<div class="p-2">
  <div class="modal">
    <div #imageContainer class="image-container">
      <div class="flex flex-row gap-3 absolute top-3 px-3 py-2 right-3 bg-slate-50 rounded-3xl">
        <button mat-mini-fab class="button-download bg-transparent shadow-none" (click)="downloadImage()"
          #tooltip="matTooltip" matTooltip="Baixar Imagem">
          <i [class]="'la la-save'" class="text-primary"></i>
        </button>
        <button mat-mini-fab class="button-close bg-transparent shadow-none" (click)="fecharModal()"
          #tooltip="matTooltip" matTooltip="Fechar modal">
          <i [class]="'la la-times'" class="text-primary"></i>
        </button>
      </div>
      <img [src]="'data:image/' + ';base64,' + content?.cntComando" alt="Imagem do evento"
        class="img-captura h-full w-full" />
    </div>
  </div>-
</div>
