<form [formGroup]="formGroup" class="form h-full flex flex-col justify-between gap-3">
  <div class="form-group grid grid-cols-2 gap-x-4 gap-y-4">

    <tvc-input class="w-full" id="nmEquipamento" formControlName="nmEquipamento" label="Nome do Equipamento"
      placeholder="Nome de Equipamento" inputNormalize="alfanum" required [maxlength]="40" [minlength]="3" />

    <tvc-input class="w-full" id="idEquipamento" formControlName="idEquipamento" label="Id do Equipamento"
      placeholder="Id do Equipamento" inputNormalize="alfanum" required [maxlength]="40" [minlength]="3" />

    <tvc-input class="w-full" id="nrSerie" formControlName="nrSerie" label="Série do Equipamento"
      placeholder="Série do Equipamento" inputNormalize="alfanum" required [maxlength]="40" [minlength]="3" />

    <tvc-dropdown class="w-full" id="cdTipoEquipamento" formControlName="cdTipoEquipamento" useLabel="nmTipoEquipamento"
      useValue="cdTipoEquipamento" label="Tipo do Equipamento" placeholder="Tipo do Equipamento" required
      [providers]="tiposEquipamento" />

    <tvc-dropdown class="w-full col-span-2" id="cdInstituicao" formControlName="cdInstituicao" useLabel="nmInstituicao"
      useValue="cdInstituicao" label="Instituição" placeholder="Instituição" required [providers]="instituicoes" />
  </div>
</form>
<div class="mt-3">
  <app-card-details class="text-primary" icone="la la-car" titulo="Alocação de Veículo">
    <form [formGroup]="formGroupAlocacao" class="form h-full flex flex-col justify-between gap-3">
      <div class="form-group grid grid-cols-1">
        <tvc-dropdown class="w-full" id="cdVeiculo" formControlName="cdVeiculo" useLabel="nmModelo"
          useValue="cdVeiculo" label="Veículo" placeholder="Veículo" [providers]="veiculosCCO" />
      </div>
    </form>
  </app-card-details>
</div>

  <div *hasRole="[UsuarioRole.ADMINISTRADOR]" class="w-full flex justify-end gap-2 mt-3">
    <button *ngIf="equipamentos && !isEditable && equipamentos.lgAtivo" (click)="toggleEdit()" mat-flat-button
      class="bg-accent/10 text-primary dark:text-dark-primary disabled:cursor-not-allowed disabled:text-accent/50">
      <i [class]="icon" class="text-lg"></i>
      <span class="pt-1">
        Editar
      </span>
    </button>

    <button *ngIf="(isEditable && equipamentos.alocacao?.veiculo?.cdVeiculo)" (click)="desalocarEquipamento(equipamentos.cdEquipamento)"
      [disabled]="!formGroup.valid" mat-flat-button class="bg-amber-700/10 text-amber-700 disabled:cursor-not-allowed">
      <i [class]="'la la-unlink'" class="text-lg"></i>
      <span class="pt-1">
        Desalocar Veículo
      </span>
    </button>

    <button *ngIf="(isEditable && equipamentos)" (click)="confirmarDesativacaoDeEquipamento(equipamentos)"
      [disabled]="!formGroup.valid" mat-flat-button class="bg-red-700/10 text-red-700 disabled:cursor-not-allowed">
      <i [class]="iconClose" class="text-lg"></i>
      <span class="pt-1">
        Desativar
      </span>
    </button>

    <button *ngIf="(isEditable && equipamentos) || (!equipamentos)" (click)="onSubmit()" [disabled]="!formGroup.valid"
      mat-flat-button
      class="bg-primary/10 dark:bg-dark-primary/10 text-primary dark:text-dark-primary disabled:cursor-not-allowed disabled:bg-gray-100 disabled:text-primary/50">
      <i [class]="icon" class="text-lg"></i>
      <span class="pt-1">
        Salvar
      </span>
    </button>
  </div>
