<div class=" mt-1 w-full grid grid-cols-2 gap-2 h-full" style="flex-grow: 1;">
  <div class="h-full">
    <map-markers class="w-full h-full "></map-markers>
  </div>
  <div class="h-full w-full flex-col flex">
    <div class=" min-w-full">
      <div *ngIf="deteccao?.imgOriginal" class="img-container h-full w-full">
        <img [style.border-color]="getColorByNivel(this.dadosAlerta()?.tipoAlerta.tpNivelAlerta)" (click)="openModal($event, deteccao)" *ngIf="deteccao?.imgOriginal"
          [src]="'data:image/' + deteccao?.imgEncoding + ';base64,' + deteccao?.imgOriginal" alt="Imagem do evento"
          class="img-captura h-full w-full shadow-md border-l-[15px]">
      </div>
    </div>
    <div class="flex flex-col gap-4">
      <app-card-details class="pt-5" titulo="Detecção" icone="la la-camera-retro">
        <div class="h-full w-full flex-col flex text-primary dark:text-dark-primary text-sm">
          <span class="flex items-start gap-1">
            <i [class]="'la la-star-half-alt'" class="mt-[2px]"></i>
            <span class="dark:text-cyan-50">
              <strong>
                Nível:
              </strong>
              <span [style.background-color]="getColorByNivel(this.dadosAlerta()?.tipoAlerta.tpNivelAlerta)"
                style="display: inline-block; width: 10px; height: 10px; border-radius: 50%;">
              </span>
              {{dadosAlerta()?.tipoAlerta.nmTipoAlerta}}
            </span>
          </span>

          <app-info-line [descricao]="(deteccao?.dtDeteccao | date:'dd/MM/yyy HH:mm:ss') || 'N/A'"
            [icone]="'la la-calendar'" titulo="Data"></app-info-line>
        </div>
      </app-card-details>
      <app-card-details titulo="Veículo" icone="la la-car-alt">
        <div class="h-full w-full flex-col flex text-primary text-sm">
          <app-info-line titulo="Placa" icone="la la-tag" [descricao]="deteccao?.nrPlaca" />
          <app-info-line titulo="Modelo" icone="la la-truck-pickup" [descricao]="dadosAlerta()?.veiculo.nmModelo" />
          <app-info-line titulo="Marca" icone="la la-plus-square" [descricao]="dadosAlerta()?.veiculo.nmMarca" />
          <app-info-line titulo="Cor" icone="la la-brush" [descricao]="dadosAlerta()?.veiculo.nmCor" />
          <app-info-line titulo="Ano" icone="la la-sort-numeric-up-alt" [descricao]="dadosAlerta()?.veiculo.nrAno && dadosAlerta()?.veiculo.nrAno.toString()" />
        </div>
      </app-card-details>
    </div>
  </div>
</div>
