.img-captura {
  @apply h-full rounded-md;
  background: no-repeat center;
  background-size: cover;
  transition: border-color 0.3s ease;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}

.bounding-box {
  @apply absolute border-2 border-red-500;
  box-sizing: border-box;
}