<div class="box">
  <div class="box-logo">
    <div class="logo">
      <img src="./public/img/logo/logo-icon.png" class="w-20"/>
    </div>
    <div class="title flex flex-col items-center justify-center gap-3">
      <span class="text-[25px] text-gray-300">
        Acessar Plataforma
      </span>
      <span class="text-sm text-slate-300">
        Preencha os campos abaixo para acessar a plataforma.
      </span>
    </div>
  </div>
  <div class="form">
    <mat-form-field appearance="fill" class="w-full">
      <input type="" matInput placeholder="Login *" class="text-white">
    </mat-form-field>
    <mat-form-field appearance="fill" class="w-full">
      <input type="password" matInput placeholder="Senha *" class="text-white">
    </mat-form-field>
  </div>
  <div class="w-full flex justify-end">
    <span class="text-slate-300 text-xs font-semibold">
      Esqueceu a senha?
    </span>
  </div>
  <div class="button">
    <button mat-flat-button class="w-full bg-primary text-slate-300">
      <mat-icon>login</mat-icon>
      Acessar
    </button>
  </div>
  <span class="text-[12px] text-center text-dark-text">
    Todos os direitos reservados. TIVIC - LTDA.
  </span>
</div>