<div class="h-full max-h-full overflow-y-auto">
  <table mat-table [dataSource]="dataSource.dados" class="table">

    <ng-container matColumnDef="imgOriginal">
      <th mat-header-cell *matHeaderCellDef>PLACA</th>
      <td mat-cell *matCellDef="let item" class="uppercase columns">
        <div class="h-[10vh] min-w-[20vh]">
          <div *ngIf="item?.imgOriginal" class="img-container">
            <div [className]="setColorType(item.tipo)" class="w-2/12"></div>
            <img *ngIf="item?.imgOriginal" [src]="item?.imgOriginal" alt="Imagem do evento" class="img-captura w-10/12">
          </div>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="nrPlaca">
      <th mat-header-cell *matHeaderCellDef>PLACA</th>
      <td mat-cell *matCellDef="let item" class="uppercase columns">
        <div class="row-container">
          <modelo-placa class="h-32 w-40" [nrPlaca]="item.nrPlaca" />
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="idEquipamento">
      <th mat-header-cell *matHeaderCellDef> ID EQUIPAMENTO </th>
      <td mat-cell *matCellDef="let dados"> {{dados.equipamento.idEquipamento}} </td>
    </ng-container>

    <ng-container matColumnDef="nmEquipamento">
      <th mat-header-cell *matHeaderCellDef> NOME DO EQUIPAMENTO </th>
      <td mat-cell *matCellDef="let dados"> {{dados.equipamento.nmEquipamento}} </td>
    </ng-container>

    <ng-container matColumnDef="dtEvento">
      <th mat-header-cell *matHeaderCellDef> DATA DE EVENTO </th>
      <td mat-cell *matCellDef="let dados">
        <tvc-badge color="default" size="normal">
          {{dados.dtEvento}}
        </tvc-badge>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>