<div class="page">
  <div class="grid-container">
    <div class="main-content-area">
      <div class="header-section">
        <span class="header-title">
          <i class="la la-exclamation-triangle"></i>
          Alertas
        </span>
        <div class="flex flex-row gap-2">
          <app-filters-inputs [minLenght]="7" [maxLeght]="7" [formGroup]="formGroup" (search)="onSearch()" [openFilters]="false" searchField="nrPlaca" placeholder="Pesquisar Placa">
          </app-filters-inputs>
          <button *verifyInstitution="[idInstituicao]" mat-flat-button (click)="cadastrarAlerta()" class="cadastrar-button">
            <i [class]="icon" class="icon"></i>
            <label class="button-label">
              Cadastrar alerta
            </label>
          </button>
        </div>
      </div>
      <app-table-alertas class="table-alertas"></app-table-alertas>
    </div>
    <div class="sidebar-area">
      <div class="sidebar-content">
        <div class="header-section">
          <span class="header-title">
            <i class="la la-stream"></i>
            <span class="text-cyan-50">
              Tipos de Alertas
            </span>
          </span>
          <button mat-flat-button (click)="cadastrarTipoAlerta()" class="cadastrar-button">
            <i [class]="icon" class="icon"></i>
            <label class="button-label">
              Cadastrar tipo
            </label>
          </button>
        </div>
        <app-table-tipo-alertas class="table-tipo-alertas">
        </app-table-tipo-alertas>
      </div>
    </div>
  </div>
</div>
