  <div class="modal">
    <div class="header">
      <div class="modal-header">
        <i [class]="'la la-camera-retro'" class="text-[27px] flex justify-center text-primary dark:text-dark-primary"></i>
        <span class="flex-center text-lg font-semibold text-text dark:text-cyan-50">
          Detalhes do Equipamento
        </span>
      </div>
      <div class="modal-close">
        <tvc-button icon="close" color="link" class="opacity-50" (click)="fecharModal()" />
      </div>
    </div>
  </div>
