<div class="flex flex-col gap-3">
  <div class="flex flex-col gap-4" [formGroup]="formGroup">
    <div class="flex flex-row gap-4">
      <div class="flex flex-col gap-2 w-full">
        <tvc-input class="w-full" id="idEquipamento" formControlName="idEquipamento" label="Id do Equipamento"
          placeholder="Id do Equipamento" inputNormalize="alfanum" />

        <tvc-input class="w-full" id="nrSerie" formControlName="nrSerie" label="Série do Equipamento"
          placeholder="Série do Equipamento" inputNormalize="alfanum" />

        <tvc-dropdown class="w-full" id="cdInstituicao" formControlName="cdInstituicao" useLabel="nmInstituicao"
          useValue="cdInstituicao" label="Instituição" placeholder="Instituição" [providers]="instituicoes" />
      </div>
    </div>
  </div>
  <div class="flex justify-end">
    <div class="flex items-center gap-2">
      <tvc-button color="default" icon="cleaning_services" matTooltip="Limpar" (click)="limpar()" />
      <tvc-button color="primary" icon="search" matTooltip="Pesquisar" (click)="pesquisar()" />
    </div>
  </div>
</div>