<div class="w-[240px] md:w-[300px] relative">
  <div class="header-group-filter">
    <div class="search-container flex flex-row">
        <mat-icon class="text-primary">
          search
        </mat-icon>
      <mat-form-field appearance="outline" class="map-search-field">
        <input matInput [placeholder]="placeholder" class="search-input"
               [(ngModel)]="searchTerm"
               (keyup)="onKeyUp($event)"
               (blur)="onSearch()">
      </mat-form-field>
    </div>
    <button (click)="isOpen = !isOpen">
      <i class="las la-filter icon "></i>
    </button>
  </div>
  @if (isOpen) {
    <div class="filters-overlay" [formGroup]="formGroup">
      <div class="filters-content">
        <ng-content></ng-content>
      </div>
    </div>
  }
</div>