.header-group-filter {
  @apply flex flex-row rounded-full px-4 py-1;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.icon {
  @apply flex justify-start font-semibold text-primary/75 mt-[2px];
  font-size: 23px;

}

.dialog {
  @apply bg-white shadow-md w-[240px];
}

.search-container {
  @apply relative flex items-center w-full md:w-[300px];

  .map-search-field {
    @apply w-[150px] md:w-[200px] ;
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(40px);
    position: absolute;
    left: 0;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.search-container {
  &.expanded {
    .map-search-field {
      opacity: 1;
      pointer-events: auto;
      width: 200px;
    }
  }
}

::ng-deep .map-search-field {
  @apply z-[1001];

  .mdc-text-field--outlined {

    .mdc-notched-outline__leading,
    .mdc-notched-outline__notch,
    .mdc-notched-outline__trailing {
      border-color: transparent !important;
    }

    &:hover .mdc-notched-outline__leading,
    &:hover .mdc-notched-outline__notch,
    &:hover .mdc-notched-outline__trailing {
      border-color: transparent !important;
    }

    &.mdc-text-field--focused .mdc-notched-outline__leading,
    &.mdc-text-field--focused .mdc-notched-outline__notch,
    &.mdc-text-field--focused .mdc-notched-outline__trailing {
      border-color: transparent !important;
    }
  }
}

.custom-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 999;
}

.custom-autocomplete-content {
  overflow-y: auto;
  max-height: 20em;
  width: 100%;
}

.autocomplete-item {
  transition: background-color 0.2s ease;

  &:hover {
    background-color: rgba(0, 0, 0, 0.04);
  }
}

.filters-overlay {
  @apply absolute z-[10] w-full left-0 mt-1 top-[100%] p-1 bg-slate-50 rounded-lg;
  z-index: 10;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.filters-content {
  padding: 16px;
  min-width: 240px;
}

.filter-item {
  padding: 8px 0;
  border-bottom: 1px solid #e5e7eb;

  &:last-child {
    border-bottom: none;
  }
}