.mat-expansion-panel {
  @apply bg-gray-50 dark:bg-transparent #{!important};
}

.mat-expansion-panel-header {
  @apply px-4 bg-gray-50 dark:bg-transparent #{!important};
}

.sidenav-container {
  @apply h-screen w-screen;

  .sidenav {
    @apply bg-gray-50 dark:bg-dark-body text-primary dark:text-dark-primary overflow-hidden border-none md:w-[80px] w-[0px];
    box-shadow: rgba(204, 204, 204, 0.2) 0px 2px 5px 1px;
    transition: width 0.3s ease;
    overflow: hidden;

    &.expanded {
      width: 220px;
    }

    .item-select {
      @apply text-primary font-bold h-10;
    }

    .modulo-label {
      @apply text-[11px] text-slate-500 ml-5 tracking-wider font-medium py-2;
      position: relative;

    }
    span {
      @apply font-text text-[12px] font-normal;
    }

    .sidenav-header {
      @apply flex-center relative justify-start py-1 px-2 pb-4 mb-4 mt-2 overflow-hidden border-b border-gray-200 dark:border-gray-700;
      height: 80px;

      .logo-img {
        @apply ml-2 absolute left-2;
        height: 47px;
        width: 200px;
        max-width: 155px;
        object-position: left;
        transition: opacity 0.3s ease;

        &.hidden {
          opacity: 0;
        }

        &.visible {
          opacity: 1;
        }
      }
    }

    mat-nav-list {
      padding-top: 0;

      a {
        @apply m-2 pl-[22px];
        transition: all 0.5s ease;

        &.active {
          @apply bg-primary/5 rounded-md;
          transition: all 0.5s ease;
        }

        &:hover {
          @apply bg-primary/5 rounded-md;
          transition: all 0.5s ease;
        }
      }

      a,
      label {
        @apply flex items-center relative;
        height: 48px;

        mat-icon {
          min-width: 60px;
          display: flex;
          justify-content: center;
        }


        span {
          position: absolute;
          left: 50px;
          white-space: nowrap;
        }

      }
    }

    .content {
      padding: 16px;
    }
  }

  mat-sidenav-content {
    transition: margin-left 0.3s ease;

    &.content-shifted {
      @apply md:ml-[220px] #{!important};
    }

    &:not(.content-shifted) {
      @apply ml-0 md:ml-[80px] #{!important};
    }
  }
}

.icon {
  @apply flex justify-start font-semibold;
  font-size: 20px;
}

.app-header {
  @apply bg-gradient-to-b from-gray-50 to-gray-100 dark:bg-gradient-to-b dark:from-[#091830] dark:to-[#091830];

  @apply flex justify-between items-center pr-6 pl-2 py-3 h-[64px];
  position: relative;
  z-index: 2;

  h1 {
    @apply text-xl font-title text-primary;
  }

  .nav {
    @apply flex ;

    button {
      mat-icon {
        @apply text-primary dark:text-dark-primary;
      }
    }

    &-list {
      @apply flex flex-row items-center gap-x-4;

      .button-search {
        @apply flex items-center gap-x-4 transition-colors duration-300 hover:bg-primary/5 py-1 px-2 rounded;

        &-title {
          @apply flex items-center gap-x-1;

          h3 {
            @apply text-primary dark:text-white font-semibold text-sm;
          }

          mat-icon {
            @apply text-base w-4 h-5 leading-5 #{!important};
          }
        }

        &-item {
          @apply ml-auto pointer-events-none inline-flex items-center select-none h-5 gap-1 rounded border border-primary/30 px-1.5 font-mono text-[10px] font-medium text-text opacity-100;
        }
      }
    }
  }
}

.content {
  @apply bg-gradient-to-r from-gray-50 to-gray-100 dark:bg-gradient-to-r dark:from-[#091830] dark:to-[#091830];
  @apply flex flex-col flex-grow overflow-auto h-[calc(100vh-76px)] px-5;
  height: calc(100vh - 76px - 40px);
}

.footer {
  @apply bg-gradient-to-r from-gray-50 to-gray-100 dark:bg-gradient-to-r dark:from-[#091830] dark:to-[#091830];
  @apply left-0 bottom-0 w-full h-12 flex-none relative z-[999];

  &.show {
    @apply pl-[initial] lg:pl-[264px];
  }

  &-content {
    @apply flex h-full w-full px-6 items-center justify-between;
  }

  a {
    @apply flex items-center gap-x-2 cursor-pointer;

    &.version {
      @apply pointer-events-none;
    }
  }

  span {
    @apply text-xs font-semibold text-primary/75 dark:text-white/75;
  }

}

::ng-deep .badge span.small{
  @apply text-[10px] #{!important}
}

.profile {
  .avatar {
    @apply w-10 h-10 rounded-lg cursor-pointer;
  }

  &:hover {
    .profile-container {
      @apply opacity-100 pointer-events-auto;
    }
  }

  &-container {
    @apply flex flex-col absolute top-12 right-4 bg-white rounded-lg p-4 h-auto w-max opacity-0 pointer-events-none transition-opacity duration-300;
  }

  &-content {
    @apply flex items-center gap-x-4 pb-2 border-b border-b-border;

    h4 {
      @apply text-base leading-5 text-primary  dark:text-white font-semibold;
    }

    span {
      @apply text-sm font-medium text-accent;
    }
  }

  &-action {
    @apply flex flex-col items-start gap-y-1 mt-2;

    button {
      @apply p-2;
    }
  }
}

.child-item {
  @apply text-xs text-primary/90 dark:text-white/75;
  height: 30px !important;

  &:hover {
    @apply bg-primary/5 rounded-md transition-all;
  }

  &.active {
    @apply bg-primary/5 rounded-md;
  }
}

::ng-deep .mat-expansion-panel-body {
  padding: 0 !important;
  @apply flex flex-col;
}

::ng-deep .breadcrumb-list {
  @apply mt-0 #{!important}
}

.title {
  @apply px-2 py-2 w-full;
  &-icon {
    display: flex;
    justify-content: start;
    font-size: 30px;
  }
}

.main-content {
  @apply bg-white dark:bg-dark-container p-4 rounded-lg h-[100%] overflow-auto relative;

  &::before {
    @apply absolute top-[25%] left-[70%] w-[40%] h-[40%] pointer-events-none z-0;
    content: '';
    transform: translate(-50%, -50%);
    background: radial-gradient(circle, rgba(59,130,246,0.25) 0%, rgba(59,130,246,0.10) 20%, transparent 100%);
    filter: blur(70px);
    max-width: 100%;
    max-height: 100%;
    contain: strict;
  }

    &::after {
      @apply absolute top-[75%] left-[20%] w-[40%] h-[40%] pointer-events-none z-0;
      content: '';
      position: absolute;
      transform: translate(-50%, -50%);
      pointer-events: none;
      background: radial-gradient(circle, rgba(59, 130, 246, 0.25) 0%, rgba(59, 130, 246, 0.10) 20%, transparent 100%);
      filter: blur(70px);
      z-index: 0;
    }

  > * {
    position: relative;
    z-index: 1;
  }
}


