<div class="page">
  <div class="header">
    <div class="header-group-filter">
      <app-filters-inputs />
    </div>
  </div>
  <div class="content">
      <map-markers class="w-full h-full shadow-md col-span-10"></map-markers>
      <div class="card-right">
        <div class="card-right-header">
          <i [class]="'la la-satellite-dish'" class="text-xl"></i>
          <span>Status dos Equipamentos</span>
        </div>
        <div class="card-info">
          <div class="w-3 h-3 rounded-[50%] bg-red-600"></div>
          <div class="flex flex-col leading-none">
            <span class="text-slate-600/80 font-semibold leading-none">
              Harpia 1236788
            </span>
            <div class="leading-none">
              <span class="text-[11px] text-slate-600/70 leading-none">
                Última atualização:
              </span>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
